<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="">
        <table>
            <tr>                
                <label for=""><input type="text">Nome</label>
            </tr>
            <tr>
                <label for=""><input type="date">Data de Nascimento</label>
            </tr>
            <tr>
                <label for=""><input type="text">Matrícula</label>
            </tr>
            <tr>
                <label for=""><input type="select">Status</label>
            </tr>
            <tr>
                <label for=""><input type="text">E-mail</label>
            </tr>
        </table>
    </form>
</body>
</html>